.letter-demo {
  padding: 2rem;
}
.letter-span {
  display: inline-block;
  font-family: 'Dusha', sans-serif;
  font-weight: 200;
  font-size: 2em;
  margin: 0.2em;
}

.enter {
  color: #0A5485;
}

.leave {
  color: #62AFD2;
}

@media only screen and (max-width: 425px) {
  .letter-span {
    font-size: 1.5em;
    margin: 2px;
  }
}